<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anfereba.nutricionabc">
    <!-- Permisos de Camara y Almacenamiento -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RegistrarAlimento"
            android:exported="true"
            android:parentActivityName=".MainActivityNutriologo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityNutriologo"
                 />
        </activity>

        <activity
            android:name=".FragmentosAdministrador.ActualizarUsuario"
            android:exported="true" />
        <activity
            android:name=".FragmentosAdministrador.GestionUsuarios"
            android:exported="true" />
        <activity
            android:name=".MainActivityAdministrador"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivityNutriologo"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Carga"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityCliente"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistroUsuarios"
            android:exported="true" />
        <activity
            android:name=".Login_App"
            android:exported="true" />
    </application>

</manifest>