<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anfereba.nutricionabc">
    <!-- Permisos de Camara y Almacenamiento -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FragmentosNutriologo.PlanDirario"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FragmentosNutriologo.AsignacionPlanNutricional"
            android:exported="true" />
        <activity
            android:name=".FragmentosCliente.VerDetallesNutriologo"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FragmentosCliente.VerNutriologos"
            android:exported="false" />
        <activity
            android:name=".FragmentosCliente.EditarHijo"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FragmentosCliente.RegistrarHijo"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FragmentosNutriologo.EditarPlanesAlimentos"
            android:exported="true" />
        <activity
            android:name=".CambiarCredenciales"
            android:exported="true" />
        <activity
            android:name=".FragmentosAdministrador.EditarUsuarioAdministrador"
            android:exported="true" />
        <activity
            android:name=".ActualizarPerfil"
            android:exported="true" />
        <activity
            android:name=".PerfilUsuario"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- optional (needed if default theme has no action bar) -->
        <activity
            android:name=".restablecer_password"
            android:exported="true" />
        <activity
            android:name=".FragmentosAdministrador.InsertarUsuarioAdministrador"
            android:exported="true" />
        <activity
            android:name=".FragmentosNutriologo.EditarAlimentos"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FragmentosNutriologo.VerAlimentos"
            android:exported="true"
            android:parentActivityName=".MainActivityNutriologo"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityNutriologo" />
        </activity>
        <activity
            android:name=".FragmentosNutriologo.EditarPlanesNutricionales"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FragmentosCliente.VerHijo"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FragmentosNutriologo.VerPlanesNutricionales"
            android:exported="true"
            android:parentActivityName=".MainActivityNutriologo"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityNutriologo" />
        </activity>
        <activity
            android:name=".FragmentosNutriologo.RegistrarPlanNutricional"
            android:exported="true"
            android:parentActivityName=".MainActivityNutriologo"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityNutriologo" />
        </activity>
        <activity
            android:name=".FragmentosNutriologo.RegistrarAlimento"
            android:exported="true"
            android:parentActivityName=".MainActivityNutriologo"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityNutriologo" />
        </activity>
        <activity
            android:name=".FragmentosAdministrador.GestionUsuarios"
            android:exported="true" />
        <activity
            android:name=".MainActivityAdministrador"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivityNutriologo"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Carga"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityCliente"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistroUsuarios"
            android:exported="true" />
        <activity
            android:name=".Login_App"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>